//font
$first_font: Latunner;
$second_font: ModerDos;
$third_font: Titillium;
$fourth_font: EightBit;
$fifth_font: Upheaval;
$white_color: rgb(255, 247, 247);
$main_color: #C9A6C9;
$hover_color: #985D98;
$hover_brightness: brightness(65%);