/* components/Canvas.module.scss */
.canvas-container {
    width: 800px;
    height: 400px;
    background-color: lightblue; /* Change to your desired background color */
    /* Ajoutez d'autres styles CSS au besoin */
  }